<div class="title">
  <h2 mat-dialog-title>Добавление квантума студенту</h2>
</div>
<form mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <mat-label>{{quantumInput.label}}</mat-label>
    <mat-select [placeholder]="quantumInput.placeholder" [formControl]="quantumInput.formControl">
      <mat-option *ngFor="let quantum of data.quantums" [value]="quantum.id">
        <img alt="" class="example-option-img" [src]="compileUrl(quantum.img)" height="25">
        {{quantum.name}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="quantumInput.formControl.invalid">
      {{quantumInput.messageError()}}
    </mat-error>
  </mat-form-field>

  <mat-slide-toggle (change)="onChange()" formControlName="isActive">бесплатно</mat-slide-toggle>
</form>
<mat-dialog-actions>
  <button (click)="save()" [disabled]="form.invalid" mat-flat-button color="primary">Добавить</button>
</mat-dialog-actions>
