<header>
  <div class="menu">
    <button [matMenuTriggerFor]="menu" mat-icon-button color="primary">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <mat-menu  #menu="matMenu">
    <ng-container *ngFor="let item of menuBtns">
      <a class="item-menu" *ngIf="item.show()" [routerLink]="[item.link]" mat-menu-item>{{item.title}}</a>
    </ng-container>
  </mat-menu>

  <img class="logo" src="../../../../assets/images/auth-logo.svg">

  <div class="user">
    <div class="info">
      <span class="name">{{getFullname()}}</span>
      <span class="role">{{profile.role?.name}}</span>
    </div>
    <button [matMenuTriggerFor]="menuUser" class="avatar" mat-icon-button>
      <img [src]="compileUrl()">
    </button>
  </div>
  <mat-menu #menuUser="matMenu">
    <button class="item-menu"  (click)="logout()" mat-menu-item>
      <mat-icon>{{exitBtn.icon}}</mat-icon>
      {{exitBtn.title}}
    </button>
  </mat-menu>
</header>
