<div class="title">
  <h2 mat-dialog-title>{{title}}</h2>
</div>
<form [formGroup]="form" mat-dialog-content>

  <mat-form-field>
    <mat-label>{{firstnameInput.label}}</mat-label>
    <input [type]="firstnameInput.type" [placeholder]="firstnameInput.placeholder"
      [formControl]="firstnameInput.formControl" matInput>
    <mat-icon matSuffix>{{firstnameInput.icon}}</mat-icon>
    <mat-error *ngIf="firstnameInput.formControl.invalid">
      {{firstnameInput.messageError()}}
    </mat-error>
  </mat-form-field>
</form>
<mat-dialog-actions>
  <button [disabled]="form.invalid " (click)="save()" mat-flat-button color="primary">Сохранить</button>
</mat-dialog-actions>
