@import "../../../assets/styles/card.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 0 $paddingValue;
  gap: $paddingValue;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-weight: 400;
      font-size: 20px;
    }

    button {
      padding: 0 16px;
    }
  }

  .schedule {
    display: flex;
    flex-wrap: wrap;
    gap: $paddingValue;
    justify-content: space-between;
    width: 100%;
    .schedule-card {
      display: flex;
      flex-direction: column;
      padding: $middlePaddingValue;
      gap: $middleGap;

      h3 {
        font-weight: 300;
        font-size: 16px;
      }
      box-shadow: 0px 4px 40.6px 0px #2b57c75c;

      .schedule-item {
        display: flex;
        gap: $smallGap;

        .time {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          color: $colorGray;
        }

        .main {
          display: flex;
          flex-direction: column;
          min-width: 50px;

          .quantum {
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }

          .room {
            width: 100%;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }

        .teacher {
          min-width: 50px;
          font-size: 12px;
          margin-left: auto;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
.option-img {
  vertical-align: bottom;
  border-radius: 5px;
  margin-right: $middleGap;
}
.accordion {
  width: 100%;
  box-shadow: 0px 4px 40.6px 0px #2b57c75c;
  display: flex;
  flex-direction: column;
  mat-form-field {
    width: 100%;
  }
}

@media (min-width: 0px) {
  .schedule {
    .schedule-card {
      width: 100%;
    }
  }
  .accordion {
    max-width: 600px;
  }
}
@media (min-width: 400px) {
  .schedule {
    .schedule-card {
      width: 100%;
    }
  }
}
@media (min-width: $minWidthNotebook) {
  .schedule {
    .schedule-card {
      max-width: 390px;
    }
  }
  .accordion {
    max-width: 390px;
  }
}
