
// $htmlFontSize: 16px;
// $maxWidthCard: 850px;
// $smallBorderRadius: 5px;
// $sizeAvatar: 140px;
$minWidthPhone: 320px;
$minWidthTablet: 768px;
$minWidthNotebook: 1024px;

$heightHeader: 48px;

$borderRadius: 5px;

$smallGap: 5px;
$middleGap: 10px;
$bigGap: 20px;

$paddingValue: 20px;
$middlePaddingValue: 10px;
$smallPaddingValue: 5px;
